<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ExpeditionHelper_SOL.Resources.Views.Shared.Access_denied.Title</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <img style="margin-right:10px;height: auto;width: auto; max-width: 310px;max-height: 310px;" src="~/Image/Perso_Lisi.png" alt="Icon" />
        </div>
        <div class="col-md-8">
            <h1>@ExpeditionHelper_SOL.Resources.Views.Shared.Access_denied.SubTitle</h1>
            <br />
            <h3>@ExpeditionHelper_SOL.Resources.Views.Shared.Access_denied.Description</h3>
        </div>
    </div>
</body>
</html>
