<br />
<br />
<br />
<br />

<h1>Cyber</h1>

<div class="col-lg-10">

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header" style="background-color:#2175BB;"> Polycopiés</div>
            <div class="card-body">
                <h4>DOCX :</h4>
                <a href="#">DOC - Matières - 12/05/2022</a><br />
                <a href="#">DOC - Matières - 06/11/2022</a><br />
                <a href="#">DOC - Matières - 26/02/2023</a><br />
                <a href="#">DOC - Matières - 26/10/2022</a><br />
                <a href="#">DOC - Matières - 04/12/2022</a><br />
                <a href="#">DOC - Matières - 12/07/2022</a><br />
                <a href="#">DOC - Matières - 30/01/2023</a><br />
                <h4>PDF :</h4>
                <a href="#">PDF - 1</a><br />
                <a href="#">PDF - 2</a><br />
                <a href="#">PDF - 3</a><br />
                <a href="#">PDF - 4</a><br />
                <a href="#">PDF - 5</a><br />
                <a href="#">PDF - 6</a><br />
                <a href="#">PDF - 7</a><br />
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header" style="background-color:#2175BB;"> Vidéos</div>
            <div class="card-body">
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
            </div>
        </div>
    </div>

</div>
<br>


<div class="col-lg-10">

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header" style="background-color:#2175BB;"> Polycopiés</div>
            <div class="card-body">
                <h4>DOCX :</h4>
                <a href="#">DOC - Matières - 12/05/2022</a><br />
                <a href="#">DOC - Matières - 06/11/2022</a><br />
                <a href="#">DOC - Matières - 26/02/2023</a><br />
                <a href="#">DOC - Matières - 26/10/2022</a><br />
                <a href="#">DOC - Matières - 04/12/2022</a><br />
                <a href="#">DOC - Matières - 12/07/2022</a><br />
                <a href="#">DOC - Matières - 30/01/2023</a><br />
                <h4>PDF :</h4>
                <a href="#">PDF - 1</a><br />
                <a href="#">PDF - 2</a><br />
                <a href="#">PDF - 3</a><br />
                <a href="#">PDF - 4</a><br />
                <a href="#">PDF - 5</a><br />
                <a href="#">PDF - 6</a><br />
                <a href="#">PDF - 7</a><br />
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header" style="background-color:#2175BB;"> Vidéos</div>
            <div class="card-body">
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
            </div>
        </div>
    </div>

</div>
<br>


<div class="col-lg-10">

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header" style="background-color:#2175BB;"> Polycopiés</div>
            <div class="card-body">
                <h4>DOCX :</h4>
                <a href="#">DOC - Matières - 12/05/2022</a><br />
                <a href="#">DOC - Matières - 06/11/2022</a><br />
                <a href="#">DOC - Matières - 26/02/2023</a><br />
                <a href="#">DOC - Matières - 26/10/2022</a><br />
                <a href="#">DOC - Matières - 04/12/2022</a><br />
                <a href="#">DOC - Matières - 12/07/2022</a><br />
                <a href="#">DOC - Matières - 30/01/2023</a><br />
                <h4>PDF :</h4>
                <a href="#">PDF - 1</a><br />
                <a href="#">PDF - 2</a><br />
                <a href="#">PDF - 3</a><br />
                <a href="#">PDF - 4</a><br />
                <a href="#">PDF - 5</a><br />
                <a href="#">PDF - 6</a><br />
                <a href="#">PDF - 7</a><br />
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header" style="background-color:#2175BB;"> Vidéos</div>
            <div class="card-body">
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
                <a href="#">content</a><br />
            </div>
        </div>
    </div>

</div>
<br>