<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h2 style="text-align:center">Liens Utiles</h2>
    <br /><br />
    <div class="container-fluid">
        <div class="row" id="images_row">
            <div class="col-md-4">
                <div class="card card-default">
                    <div class="card-header" style="background-color:grey;text-align:center">
                        Suite Office
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <a href="https://www.microsoft.com/fr-fr/microsoft-365/powerpoint"><img class="image_office" src="~/Image/PowerPoint.png" /></a>
                            <a href="https://www.microsoft.com/fr-fr/microsoft-365/excel"><img class="image_office" src="~/Image/Excel.png" /></a>
                            <a href="https://www.microsoft.com/fr-fr/microsoft-365/outlook"><img class="image_office" src="~/Image/Outlook.png" /></a>
                            <a href="https://www.microsoft.com/fr-fr/microsoft-365/word"><img class="image_office" src="~/Image/Word.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-default">
                    <div class="card-header" style="background-color:grey;text-align:center">
                        France Campus
                    </div>
                    <div class="card-body" style="text-align:center">
                        <div class="row">
                            <a href="https://www.campusfrance.org/fr"><img class="image_office" src="~/Image/France_campus.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-default">
                    <div class="card-header" style="background-color:grey;text-align:center">
                        Site de l'ESIC
                    </div>
                    <div class="card-body" style="text-align:center">
                        <div class="row">
                            <a href="https://www.esic.fr"><img class="image_office" src="~/Image/logoesic.png" /></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>