<br />
<br />
<br />
<br />

<h2>Note individuelle</h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th style="background-color:#2175BB;color:white;">Matières</th>
                <td>1ère matière</td>
                <td>2ème matière</td>
            </tr>
            <tr>
                <th style="background-color:#2175BB;color:white;">Evaluateurs</th>
                <td>Mr Lorem</td>
                <td>Mme Ipsum</td>
            </tr>
            <tr>
                <th style="background-color:#2175BB;color:white;">Note</th>
                <td>18.2 <label> / 20</label></td>
                <td>6 <label> / 20</label></td>
            </tr>
            <tr>
                <th style="background-color:#2175BB;color:white;">coéficient</th>
                <td><label> 2</label></td>
                <td><label> 2</label></td>
            </tr>
            <tr>
                <th style="background-color:#2175BB;color:white;">Moyenne général</th>
                <td>18.2 <label> / 20</label></td>
                <td>6 <label> / 20</label></td>
            </tr>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>

<h2>Note de la classe</h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th style="background-color:#2175BB;color:white;">Matières</th>
                <td>1ère matière</td>
                <td>2ème matière</td>
            </tr>
            <tr>
                <th style="background-color:#2175BB;color:white;">Evaluateurs</th>
                <td>Mr Lorem</td>
                <td>Mme Ipsum</td>
            </tr>
            <tr>
                <th style="background-color:#2175BB;color:white;">Moyenne</th>
                <td>14.64 <label> / 20</label></td>
                <td>11.75 <label> / 20</label></td>
            </tr>
            <tr>
                <th style="background-color:#2175BB;color:white;">coéficient</th>
                <td><label> 2</label></td>
                <td><label> 2</label></td>
            </tr>
            <tr>
                <th style="background-color:#2175BB;color:white;">Note la plus élevé</th>
                <td>18.2 <label> / 20</label></td>
                <td>17 <label> / 20</label></td>
            </tr>
            <tr>
                <th style="background-color:#2175BB;color:white;">Note la plus basse</th>
                <td>3 <label> / 20</label></td>
                <td>1 <label> / 20</label></td>
            </tr>
        </table>
    </div>
</div>
