<br />
<br />
<br />
<br />

<div class="col-lg-12">

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header" style="background-color: #2175BB;"> Bureau des étudiants </div>
            <div class="card-body">
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header" style="background-color: #2175BB;"> Plan de l'école </div>
            <div class="card-body">
                <center>
                    <img src="~/Image/Maps.png" width="100%" />
                </center>
                <br />
                <label>
                    Groupe Esic - École Supérieure & Centre de formation
                </label>
                <label>
                    Adresse : 36 Av. Pierre Brossolette, 92240 Malakoff
                </label>

                <p>
                    <label>
                        Mail :
                    </label>
                    <a HREF="tel:info@esic.fr"> info@esic.fr</a>
                </p>

                <p>
                    <label>
                        Téléphone :
                    </label>
                    <a HREF="tel:01 53 90 15 20"> 01 53 90 15 20</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header" style="background-color: #2175BB;"> Information générale </div>
            <div class="card-body">
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header" style="background-color: #2175BB;"> Contact </div>
            <div class="card-body">
                <p><label>Lynley ROBERT : </label> <a HREF="mailto:lrobert@esic-online.com">lrobert@esic-online.com</a></p>
                <p><label>Jérôme Gouzik : </label> <a HREF="mailto:jerome.gouzik@esic.fr"> jerome.gouzik@esic.fr</a></p>
                <p><label>Meriem AIT ABBAS : </label> <a HREF="mailto:abmeriem@esic.fr"> abmeriem@esic.fr</a></p>
                <p><label>Mohamed EL ALAMA : </label> <a HREF="mailto:mohamed@esic.fr"> mohamed@esic.fr</a></p>
                <p><label>Joel BANKA : </label> <a HREF="mailto:jbanka@esic.fr"> jbanka@esic.fr</a></p>
            </div>
        </div>
    </div>



    <div class="col-lg-12">
        <div class="card card-default">
            <div class="card-header" style="background-color: #2175BB;"> F.A.Q. </div>
            <div class="card-body">
                <p><label>Quel est le délai pour obtenir les résultats d'admission de la part de vos écoles partenaires ? </label><br /> Les résultats d'admission vous seront communiqués par l’école par mail sous 15 jours maximum après votre session d'admission, sous réserve que votre dossier soit complet. Si toutes les étapes du processus d'admission n'ont pas été réalisées ou si des documents manquent à votre dossier, l’école ne pourra étudier votre candidature et celle-ci se verra refusée.</p>
                <p><label>Dois-je venir en tenue professionnelle le jour de la session d'admission ? </label><br /> Il est obligatoire de porter une tenue professionnelle pour la session d'admission (sur place ou à distance) sous peine de se voir retirer des points sur votre résultat final de concours.</p>
                <p><label>L’école partenaire nous aide-t-elle à trouver une entreprise ? </label><br /> Oui, l'école accompagne tous les étudiants inscrits dans la recherche d'entreprise. Si vous êtes admis, vous serez reçu par votre chargé des relations entreprises qui vous aidera et conseillera dans la méthodologie de recherche d’alternance.Une fois l'inscription validée, nous vous proposerons les offres de nos entreprises partenaires.</p>
                <p><label>Dois-je candidater plusieurs fois si j'hésite entre plusieurs formations ? </label><br /> Vous pouvez candidater plusieurs fois mais Il est important de faire votre choix avant la session d'admission, en fonction de votre projet professionnel. En cas d'hésitation, n'hésitez pas à contacter le service admissions.</p>
                <p><label>Les diplômes de vos écoles partenaires sont-ils reconnus par l'Etat ? </label><br /> Oui, le Programme Grande Ecole est composé de Bachelor et de Mastère, qui sont des titres RNCP de niveau 6 (Bac+3) et niveau 7 (Bac+5).</p>
                <p><label>Qui contacter si je rencontre un problème sur l’intranet AthenaApp ? </label><br />Nous vous invitons à envoyer un mail au service informatique : <a href="mailto:Athena.app.pro@gmail.com">Athena.App.Pro@gmail.com</a> </p>
                <p style="font-style: italic;">F.A.Q <br />Pour tout problème concernant votre candidature dont vous n'auriez pas trouvé la réponse sur cette page, nous vous invitons à contacter le service d’admission. <br />Notre contact est disponible sur cette page. <br />Question/Réponses </p>
            </div>
        </div>
    </div>

</div>
<br>