<br />
<br />
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-default">
                <div class="card-header" style="background-color: #2175BB; text-align: center">
                    <h3>Curiculum Vitae</h3>
                </div>
                <div class="card-body">
                    <center>
                        <div class="row">
                            <a href="~/Templates_word/TemplateCV1.docx" download><img class="image_template" src="~/Image/CV_template1.png" /></a>
                            <a href="~/Templates_word/TemplateCV2.docx" download><img class="image_template" src="~/Image/CV_template2.png" /></a>
                        </div>
                    </center>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-default">
                <div class="card-header" style="background-color: #2175BB; text-align: center">
                    <h3>Lettre de motivation</h3>
                </div>
                <div class="card-body">
                    <center>
                        <div class="row">
                            <a href="~/Templates_word/TemplateLettre1.docx" download><img class="image_template" src="~/Image/Lettre_template1.png" /></a>
                            <a href="~/Templates_word/TemplateLettre2.docx" download><img class="image_template" src="~/Image/Lettre_template2.png" /></a>
                        </div>
                    </center>

                </div>
            </div>
        </div>
    </div>
</div>